# Fichiers Python
__pycache__/
*.py[cod]
*.env

# Fichiers Node.js
node_modules/
npm-debug.log
package-lock.json

# Logs
*.log

# VS Code settings
.vscode/

# Dossiers de build
dist/
build/
.cache/
.next/

# Environnement virtuel Python
env/
backend/env/
*.dll
*.lib
*.pkl
